In [110]:
import pandas as pd  
import seaborn as sns
import matplotlib.pyplot as plt

In [111]:
df= pd.read_csv('adult.csv')

In [112]:
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [113]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
income            0
dtype: int64

In [114]:
df['age'].unique()

array([90, 82, 66, 54, 41, 34, 38, 74, 68, 45, 52, 32, 51, 46, 57, 22, 37,
       29, 61, 21, 33, 49, 23, 59, 60, 63, 53, 44, 43, 71, 48, 73, 67, 40,
       50, 42, 39, 55, 47, 31, 58, 62, 36, 72, 78, 83, 26, 70, 27, 35, 81,
       65, 25, 28, 56, 69, 20, 30, 24, 64, 75, 19, 77, 80, 18, 17, 76, 79,
       88, 84, 85, 86, 87], dtype=int64)

In [115]:
df['age'].describe()

count    32561.000000
mean        38.581647
std         13.640433
min         17.000000
25%         28.000000
50%         37.000000
75%         48.000000
max         90.000000
Name: age, dtype: float64

In [116]:
df['age']=df['age'].apply(lambda x: "Young" if x>16 and x<45 else "Senoir")

In [117]:
df['age']

0        Senoir
1        Senoir
2        Senoir
3        Senoir
4         Young
          ...
32556     Young
32557     Young
32558     Young
32559    Senoir
32560     Young
Name: age, Length: 32561, dtype: object

In [118]:
df['workclass'].unique()

array(['?', 'Private', 'State-gov', 'Federal-gov', 'Self-emp-not-inc',
       'Self-emp-inc', 'Local-gov', 'Without-pay', 'Never-worked'],
      dtype=object)

In [119]:
df['workclass'].max()

'Without-pay'

In [120]:
df['workclass'].replace('?','Without-pay',inplace=True)

In [121]:
df['workclass'].unique()

array(['Without-pay', 'Private', 'State-gov', 'Federal-gov',
       'Self-emp-not-inc', 'Self-emp-inc', 'Local-gov', 'Never-worked'],
      dtype=object)

In [122]:
df['education']

0             HS-grad
1             HS-grad
2        Some-college
3             7th-8th
4        Some-college
             ...
32556    Some-college
32557      Assoc-acdm
32558         HS-grad
32559         HS-grad
32560         HS-grad
Name: education, Length: 32561, dtype: object

In [123]:
df['education.num'].unique()

array([ 9, 10,  4,  6, 16, 15, 13, 14,  7, 12, 11,  2,  3,  8,  5,  1],
      dtype=int64)

In [124]:
df['occupation'].unique()

array(['?', 'Exec-managerial', 'Machine-op-inspct', 'Prof-specialty',
       'Other-service', 'Adm-clerical', 'Craft-repair',
       'Transport-moving', 'Handlers-cleaners', 'Sales',
       'Farming-fishing', 'Tech-support', 'Protective-serv',
       'Armed-Forces', 'Priv-house-serv'], dtype=object)

In [125]:
df['occupation'].max()

'Transport-moving'

In [126]:
df['occupation'].replace('?','Transport-moving',inplace=True)

In [127]:
df['relationship'].unique()

array(['Not-in-family', 'Unmarried', 'Own-child', 'Other-relative',
       'Husband', 'Wife'], dtype=object)

In [128]:
cols =df.columns

In [129]:
for i in cols:
    print(i)
    print(df[i].unique())

age
['Senoir' 'Young']
workclass
['Without-pay' 'Private' 'State-gov' 'Federal-gov' 'Self-emp-not-inc'
 'Self-emp-inc' 'Local-gov' 'Never-worked']
fnlwgt
[ 77053 132870 186061 ...  34066  84661 257302]
education
['HS-grad' 'Some-college' '7th-8th' '10th' 'Doctorate' 'Prof-school'
 'Bachelors' 'Masters' '11th' 'Assoc-acdm' 'Assoc-voc' '1st-4th' '5th-6th'
 '12th' '9th' 'Preschool']
education.num
[ 9 10  4  6 16 15 13 14  7 12 11  2  3  8  5  1]
marital.status
['Widowed' 'Divorced' 'Separated' 'Never-married' 'Married-civ-spouse'
 'Married-spouse-absent' 'Married-AF-spouse']
occupation
['Transport-moving' 'Exec-managerial' 'Machine-op-inspct' 'Prof-specialty'
 'Other-service' 'Adm-clerical' 'Craft-repair' 'Handlers-cleaners' 'Sales'
 'Farming-fishing' 'Tech-support' 'Protective-serv' 'Armed-Forces'
 'Priv-house-serv']
relationship
['Not-in-family' 'Unmarried' 'Own-child' 'Other-relative' 'Husband' 'Wife']
race
['White' 'Black' 'Asian-Pac-Islander' 'Other' 'Amer-Indian-Eskimo']
sex
['Female' 'Male']
capital.gain
[    0 99999 41310 34095 27828 25236 25124 22040 20051 18481 15831 15024
 15020 14344 14084 13550 11678 10605 10566 10520  9562  9386  8614  7978
  7896  7688  7443  7430  7298  6849  6767  6723  6514  6497  6418  6360
  6097  5721  5556  5455  5178  5060  5013  4934  4931  4865  4787  4687
  4650  4508  4416  4386  4101  4064  3942  3908  3887  3818  3781  3674
  3471  3464  3456  3432  3418  3411  3325  3273  3137  3103  2993  2977
  2964  2961  2936  2907  2885  2829  2653  2635  2597  2580  2538  2463
  2414  2407  2387  2354  2346  2329  2290  2228  2202  2176  2174  2105
  2062  2050  2036  2009  1848  1831  1797  1639  1506  1471  1455  1424
  1409  1173  1151  1111  1086  1055   991   914   594   401   114]
capital.loss
[4356 3900 3770 3683 3004 2824 2754 2603 2559 2547 2489 2472 2467 2457
 2444 2415 2392 2377 2352 2339 2282 2267 2258 2246 2238 2231 2206 2205
 2201 2179 2174 2163 2149 2129 2080 2057 2051 2042 2002 2001 1980 1977
 1974 1944 1902 1887 1876 1848 1844 1825 1816 1762 1755 1741 1740 1735
 1726 1721 1719 1672 1669 1668 1651 1648 1628 1617 1602 1594 1590 1579
 1573 1564 1539 1504 1485 1411 1408 1380 1340 1258 1138 1092  974  880
  810  653  625  419  323  213  155    0]
hours.per.week
[40 18 45 20 60 35 55 76 50 42 25 32 90 48 15 70 52 72 39  6 65 12 80 67
 99 30 75 26 36 10 84 38 62 44  8 28 59  5 24 57 34 37 46 56 41 98 43 63
  1 47 68 54  2 16  9  3  4 33 23 22 64 51 19 58 53 96 66 21  7 13 27 11
 14 77 31 78 49 17 85 87 88 73 89 97 94 29 82 86 91 81 92 61 74 95]
native.country
['United-States' '?' 'Mexico' 'Greece' 'Vietnam' 'China' 'Taiwan' 'India'
 'Philippines' 'Trinadad&Tobago' 'Canada' 'South' 'Holand-Netherlands'
 'Puerto-Rico' 'Poland' 'Iran' 'England' 'Germany' 'Italy' 'Japan' 'Hong'
 'Honduras' 'Cuba' 'Ireland' 'Cambodia' 'Peru' 'Nicaragua'
 'Dominican-Republic' 'Haiti' 'El-Salvador' 'Hungary' 'Columbia'
 'Guatemala' 'Jamaica' 'Ecuador' 'France' 'Yugoslavia' 'Scotland'
 'Portugal' 'Laos' 'Thailand' 'Outlying-US(Guam-USVI-etc)']
income
['<=50K' '>50K']

In [130]:
df.drop(['fnlwgt','education','race','native.country','capital.gain', 'capital.loss', 'hours.per.week'],axis=1,inplace=True)

In [131]:
df.columns

Index(['age', 'workclass', 'education.num', 'marital.status', 'occupation',
       'relationship', 'sex', 'income'],
      dtype='object')

In [135]:
cols1=df.columns

In [137]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [138]:
for i in cols1:
    le.fit(df[i])
    df[i]= le.transform(df[i])

In [139]:
df

,age,workclass,education.num,marital.status,occupation,relationship,sex,income
0,0,7,8,6,13,1,0,0
1,0,3,8,6,3,1,0,0
2,0,7,9,6,13,4,0,0
3,0,3,3,0,6,4,0,0
4,1,3,9,5,9,3,0,0
...,...,...,...,...,...,...,...,...
32556,1,3,9,4,10,1,1,0
32557,1,3,11,2,12,5,0,0
32558,1,3,8,2,6,0,1,1
32559,0,3,8,6,0,4,0,0
32560,1,3,8,4,0,3,1,0

In [140]:
from sklearn.linear_model import LogisticRegression
LR=LogisticRegression()
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [142]:
x=df.drop("income",axis=1)
y=df['income']

In [143]:
print(x)
print(y)

       age  workclass  education.num  marital.status  occupation  \
0        0          7              8               6          13
1        0          3              8               6           3
2        0          7              9               6          13
3        0          3              3               0           6
4        1          3              9               5           9
...    ...        ...            ...             ...         ...
32556    1          3              9               4          10
32557    1          3             11               2          12
32558    1          3              8               2           6
32559    0          3              8               6           0
32560    1          3              8               4           0

       relationship  sex
0                 1    0
1                 1    0
2                 4    0
3                 4    0
4                 3    0
...             ...  ...
32556             1    1
32557             5    0
32558             0    1
32559             4    0
32560             3    1

[32561 rows x 7 columns]
0        0
1        0
2        0
3        0
4        0
        ..
32556    0
32557    0
32558    1
32559    0
32560    0
Name: income, Length: 32561, dtype: int32

In [144]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,random_state=3,test_size=0.3)

In [145]:
LR.fit(xtrain,ytrain)

LogisticRegression()

In [146]:
ypred=LR.predict(xtest)

In [148]:
accuracy_score(ypred,ytest)

0.8100112601085065